body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    background-color: #2C2D46;
}
.header a{
    color: #F9FBFC;
}
.content{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDDDE;
    background-size: 100% auto;
}
.content-text{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
i{
    color: #2C2D46;
}
footer{
    margin-top: auto;
    background-color: #D9B59C;
}