#menu-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#2C2D46;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 1%;
}
li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.nav-item active{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
a{
    color: #F9FBFC;
}
.image{
    height: 585px;
    padding-top: 50px;
    background-image: linear-gradient(#2C2D46, #DFDDDE, #D9B59C);
    background-size: 100%;
    background-position: 50%;
    background-repeat: repeat;
}
.image-text{
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 240px;
}
@media screen and (max-width: 450px){
    .image-text{
        padding-top: 200px;
        padding-left: 0px;
        font-size: 15px;
    }
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
i{
    color: #2C2D46;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #D9B59C;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}