/*
 * Utility classes
 */
.color-primary {
    color: #2836A0;
}
.color-secondary {
    color: #D8732B;
}
.color-dark {
    color: #2C2D46;
}

/*
 * Page styles
 */
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-color: #2C2D46;
}
.header a {
    color: #F9FBFC;
}
.content {
    flex-basis: 100%; /* Grow full height between header/footer */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% auto;
    background: #DFDDDE url(../images/pexels-photo-821754.jpg) no-repeat fixed center center;
}
.footer {
    margin-top: auto;
    background-color: #D9B59C;
}
.text-block {
    font-family: 'Playfair Display', serif;
    padding: 15px;
    background: rgba(255,255,255,0.5);
}

/*#menu-container{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content:flex-end;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    background-color: #2C2D46;*/
/*    padding-top: 4px;*/
/*    padding-bottom: 4px;*/
/*    line-height: 1%;*/
/*}*/
/*.nav-item active{*/
/*    list-style: none;*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*}*/
/*a{*/
/*    color: #F9FBFC;*/
/*}*/
/*.text-block{*/
/*    display:inline-block;*/
/*    position:fixed;*/
/*    padding-top: 175px;*/
/*    padding-left: 525px;*/
/*    font-family: 'Playfair Display', serif;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*}*/
/*@media screen and (max-width: 415px){*/

/*    h2{*/
/*        font-size: 1.5rem;*/
/*    }*/
/*    !*.text-block{*!*/
/*    !*    position: fixed;*!*/
/*    !*    padding-top: 20px;*!*/
/*    !*    padding-left: 150px;*!*/
/*    !*}*!*/
/*}*/
