body{
    position: relative;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 340px;
}
#menu-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2C2D46;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 1%;
}
.nav-item active{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
a{
    color: #F9FBFC;
}
.text-block{
    position:relative;
    padding-top: 30px;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 70%;
}
@media screen and (max-width: 450px){
    body{
        background-repeat: repeat-y;
    }
    .text-block{
        padding-top: 0px;
    }
    h2{
        font-size: 18px;
    }
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D9B59C;
}